@charset "utf-8";
@import url("fonts.css");
body {
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  line-height: 130%;
  text-align: justify;
  font-family: "DK-SONGTI", "st", "宋体", "zw", sans-serif;
}

p {
  text-align: justify;
  text-indent: 2em;
  line-height: 130%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  font-family: "DK-SONGTI", "st", "宋体", "zw", sans-serif;
}

/** 英文斜体字 **/
div {
  margin: 0px;
  padding: 0px;
  line-height: 120%;
  text-align: justify;
  font-family: "zw";
}

/*扉页*/
div.top {
  text-align: center;
  duokan-bleed: lefttopright;
  margin: 0.5em;
}

img.top {
  width: 70%;
}

/*标题页*/
/*正文*/
/**楷体引文**/
h2 {
  margin: 0 0 1.5em 0;
  font-family: "汉仪浙风宋", "汉仪江南楷", "楷体";
  font-size: 0.8em;
  color: pink;
  text-shadow: 0 1px 1px #fff;
  font-weight: normal;
  text-indent: 0;
  text-align: center;
  line-height: 110%;
}

/*序号标题*/
h1 {
  font-family: "方正小标宋";
  font-size: 2em;
  text-align: center;
  color: #A00;
  font-weight: bold;
  margin-top: 45%;
  margin-bottom: 2.5em;
}

/*出版社*/
/*多看画廊*/
/*制作说明页*/
/*版本说明页*/
/*版权信息*/
/*多看弹注*/
h2.neirjsA {
  font-family: "cc", "DK-XIAOBIAOSONG";
  font-size: 1.1em;
  width: 1em;
  color: #A52A2A;
  margin: -4em 4% 2em auto;
  border-right: 1px solid #2F4F4F;
  border-left: 1px solid #2F4F4F;
  padding: 6px 3px;
}

.line {
  border-style: dotted;
  border-color: #CCCCCC;
/*灰色*/
  border-top: 0.5px;
  margin: 5% 1%;
}

body.zhenwen4 {
  background: #ffffff url(../media/p5.png) no-repeat center;
/*可加底图*/
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

div.zwone {
  margin: 0em 0em 0em 0em;
  text-align: left;
  text-indent: 0em;
  duokan-text-indent: 0em;
  duokan-bleed: lefttopright;
}

img.zwone {
/*正文头图大小*/
  width: 60%;
}

/*怪力*/
.leixing {
  transform: skewX(-5deg);
/*倾斜*/
  text-decoration: line-through;
/*删除线*/
  text-decoration-color: #271e1e;
  text-decoration-thickness: 2px;
  text-align: center;
  color: pink;
  text-align: center;
  font-size: 0.8em;
  font-family: "方正古龙武侠", "楷体";
  text-indent: 0em;
  margin-top: 3%;
  margin-bottom: 10%;
}

/* 鬼哥  */
/*版权信息正常*/
div.zzsm {
  margin: 2em 3em 0em 5em;
  padding: 1em;
  background-color: rgba(247, 250, 249, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 28px;
  box-shadow: 0px 0px 2px rgba(25, 25, 112, 0.1);
}

body.zzsm {
  background: #fff no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../media/bg.png);
}

h2.zzsm1 {
  margin: 1em 0em 0.5em 0em;
  padding: 0 4px;
  font-family: "cc", "微软雅黑", "黑体", "DK-HEITI", sans-serif;
  font-size: 85%;
  color: #903e55;
  text-align: center;
}

p.zzsm1 {
  margin: 1em 0em 1em 0em;
  font-family: "cc", 黑体, "ht", sans-serif;
  text-indent: 0em;
  duokan-text-indent: 0em;
  text-align: left;
  color: #4b6272;
  font-size: 70%;
}

p.zzsm2 {
  margin: 0.5em 0em 0.5em 0em;
  font-family: "cc", 细黑体, "xihei", sans-serif;
  color: #3b5b95;
  font-size: 65%;
  text-align: left;
  text-indent: 0em;
  duokan-text-indent: 0em;
}

body.juan4 {
  background: #ffffff url(../Images/bg.png) no-repeat center;
  background-size: 100%;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

div.juan4 {
  margin: 100% 0% 0 15%;
  padding: 0.8em;
  border-top: 0px solid #e8ae0c;
  border-bottom: 0px solid #e8ae0c;
  border-right: 0px solid #e8ae0c;
  border-left: 0px solid #e8ae0c;
  position: relative;
  background-color: rgba(219, 217, 222, 0.7);
  border-radius: 10px;
}

img.picture-80 {
  margin: 0;
/*清除img元素的外边距*/
  width: 80%;
/*预览窗口的宽度*/
  box-shadow: 3px 3px 10px #bfbfbf;
/*给图片添加阴影效果*/
}
h1.juan4 {
  margin: 0;
  padding: 0.5em 0.5em;
  text-indent: 0;
  duokan-text-indent: 0;
  text-align: center;
  color: black;
  font-size: 1.2em;
  font-family: "汉仪江南楷", "楷体";
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

span.juan4 {
  color: #6f3831;
  text-align: center;
  font-size: 0.8em;
  font-family: "汉仪浙风宋", "楷体", sans-serif;
}